<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Styles/guitarshop.css" />
    <title>@ViewBag.Title-GuitarPick</title>
    @RenderSection("PageHead", false)
</head>
<body>
    <img id="logo" src="~/Images/guitarlogo.png" alt="guitar logo">
    @Html.Partial("_LoginPartial")
    <h1 id="Title">
        <strong><span id="title1">Guitar</span><span id="title2">Pick</span></strong>
    </h1>

    <nav id="nav" role = "navigation">
        <ul class="my-row">
            <li><a href="~/Home/Index">Home</a></li>
            <li><a href="~/Product/Index">Products</a></li>
            <li><a href="~/News/Index">About</a></li>
            <li><a href="~/Contact/Add">Contact Us</a></li>
            <li><a href="~/Orders/Index">Orders</a></li>
            <li><a href="~/Orders/AddOrder">Cart</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>&copy; GuitarPick, INC. <br> "The beautiful thing about learning is that no one can take it away from you"<br>&nbsp B.B. King</p>
        <nav>
            <ul>
                <li><a class="add" href="~/Product/Add">Add Products</a></li>
                <li><a class="add" href="~/News/Add">Add News Items</a></li>
            </ul>
        </nav>
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
